*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Poppins",sans-serif;
}


body{

    min-height:100vh;

    background:
    radial-gradient(circle at top right,
    rgba(59,130,246,.2),
    transparent 30%),

    radial-gradient(circle at bottom left,
    rgba(20,184,166,.15),
    transparent 35%),

    linear-gradient(
        135deg,
        #0F172A,
        #111827,
        #09090B
    );

    overflow-x:hidden;

}


/* HEADER */


#header-section{

    position:fixed;

    top:0;
    left:0;
    width:100%;

    padding:20px 7%;

    display:flex;
    align-items:center;
    justify-content:space-between;

    background:rgba(15,23,42,.45);

    backdrop-filter:blur(12px);

    z-index:100;

}



#header-left-section img{

    width:75px;
    height:75px;

    object-fit:contain;

}



#header-right-section a{

    width:130px;
    height:45px;


    display:flex;
    align-items:center;
    justify-content:center;


    text-decoration:none;


    color:white;


    border-radius:12px;


    border:1px solid #3B82F6;


    transition:.3s;

}



#header-right-section a:hover{

    background:#3B82F6;

    transform:translateY(-3px);

}



/* HERO */


#content{


    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;


    gap:60px;


    padding:120px 7% 50px;


}



#content-left-section{

    flex:1;


    display:flex;

    flex-direction:column;


    justify-content:center;


}



#content-left-section h1{


    color:white;


    font-size:clamp(40px,5vw,75px);


    line-height:1.15;


    font-weight:700;


    text-transform:uppercase;


}



#content-left-section h1 span{

    color:#06B6D4;

}




#content-left-section p{


    margin-top:25px;


    max-width:550px;


    color:#cbd5e1;


    font-size:17px;


    line-height:1.8;


}




#content-left-section button{


    margin-top:35px;


    width:220px;

    height:60px;


    border:none;


    border-radius:15px;


    background:
    linear-gradient(135deg,#3B82F6,#06B6D4);



    color:white;


    font-size:17px;


    font-weight:600;


    display:flex;


    justify-content:center;


    align-items:center;


    gap:12px;



    cursor:pointer;


    transition:.3s;


    box-shadow:
    0 15px 35px rgba(59,130,246,.35);


}




#content-left-section button:hover{


    transform:translateY(-5px);


    box-shadow:
    0 20px 45px rgba(59,130,246,.5);


}

#content-left-section button:active{
    transform: scale(.99);
    
}


#content-right-section{


    flex:1;


    display:flex;

    justify-content:center;


}



.image-card{


    width:100%;

    max-width:520px;


    padding:12px;


    border-radius:40px;


    background:
    linear-gradient(
        135deg,
        rgba(255,255,255,.15),
        rgba(255,255,255,.03)
    );


    box-shadow:
    0 25px 60px rgba(0,0,0,.4);
    transition: .4s all;



}




.image-card img{


    width:100%;


    height:420px;


    object-fit:cover;


    border-radius:35px;

    transition: .4s all;


}

.image-card img:hover{
transform: translateY(-10px) rotate(1deg);
    
}





/* MOBILE */


@media(max-width:900px){


    #content{

        flex-direction:column-reverse;

        text-align:center;

        gap:40px;

    }



    #content-left-section{

        align-items:center;

    }



    #content-left-section p{

        text-align:center;

    }



    .image-card img{

        height:300px;

    }


}


@media(max-width:500px){


    #header-section{

        padding:15px 5%;

    }


    #header-left-section img{

        width:60px;
        height:60px;

    }



    #header-right-section a{

        width:110px;

    }



}