/* ===========================
   Laptop
=========================== */

@media (max-width:1200px){

    .sidebar{
        width:230px;
    }

    .courses-grid{
        grid-template-columns:repeat(3,1fr);
    }

}

/* ===========================
   Tablet
=========================== */

@media (max-width:992px){

    .wrapper{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
        border-right:none;
        border-bottom:1px solid #eee;
    }

    .menu{
        display:flex;
        flex-wrap:wrap;
        gap:10px;
    }

    .menu li{
        margin-bottom:0;
    }

    .main-content{
        padding:20px;
    }

    .topbar{
        flex-direction:column;
        gap:20px;
        align-items:stretch;
    }

    .search-box{
        width:100%;
    }

    .right-side{
        justify-content:flex-end;
    }

    .courses-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

/* ===========================
   Mobile
=========================== */

@media (max-width:768px){

    .page-title h2{
        font-size:28px;
    }

    .filters{
        flex-direction:column;
        align-items:stretch;
    }

    .filters select{
        width:100%;
    }

    .count{
        text-align:center;
    }

    .courses-grid{
        grid-template-columns:1fr;
    }

    .profile h6,
    .profile small{
        display:none;
    }



    .menu-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    }
    .sidebar{
        position:fixed;
        left:-270px;
        top:0;
        width:260px;
        height:100%;
        background:#fff;
        z-index:1000;
        transition:.3s;
    }

    .sidebar.show{
        left:0;
    }

    .main-content{
        width:100%;
        margin-left:0;
    }

}

/* ===========================
   Small Mobile
=========================== */

@media (max-width:480px){

    .logo{
        justify-content:center;
    }

    .menu{
        flex-direction:column;
    }

    .pagination{
        flex-wrap:wrap;
    }

    .search-box{
        padding:10px;
    }

    .course-info h4{
        font-size:18px;
    }

    .price{
        font-size:18px !important;
    }

}